<div class="container">

  <h3 class="mt-2 text-center">Admin Dashboard</h3>
  
  <% if @hash %>
    <div style='width: 800px;'>
      <div id="map" style='width: 1000px; height: 500px;'></div>
    </div>

    <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    </script>
   <% end %>

  <h5>Statistics:</h5>
  <div class="row text-center border border-dark">
    <div class="col-sm-4">
      Number of products:
      <span class="badge badge-info"><%= @number_of_products %></span>
    </div>
    <div class="col-sm-4">
      Number of reviews:
      <span class="badge badge-info"><%= @number_of_reviews %></span>
    </div>
    <div class="col-sm-4">
      Number of users:
      <span class="badge badge-info"><%= @number_of_users %></span>
    </div>
  </div>
  <br>
  <br>

  <p>
    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseProduct" aria-expanded="false" aria-controls="collapseProduct">
      Product list
    </button>
    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser">
      User list
    </button>
  </p>
  <div class="collapse" id="collapseProduct">

      <h5>Product list:</h5>
      <hr>
      <table class="table table-striped table-dark">
        <tbody>
          <tr>
            <th>Product ID</th>
            <th>Product Title</th>
            <th>Link to</th>
          </tr>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.id %></td>
              <td><%= product.title %></td>
              <td><%= link_to 'link', product_path(product) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

  </div>

  <div class="collapse" id="collapseUser">

    <h5>User list:</h5>
    <hr>
    <table class="table table-striped table-dark">
      <tbody>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>

        </tr>

        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>

      </tbody>

    </table>
  </div>


</div>
