
<%= simple_form_for @product, html: {class: "form-group"} do |form| %>


  <%= form.input :image, input_html: {class: 'w-80'}, label_html: {class: 'mr-3'} %>
  <%= form.input :title %>
  <%= form.input :description %>
  <%= form.input :price %>
  <%= form.input :sale_price %>
  <%= form.association :tags,
      input_html: {class: 'chosen-select'},
      label_html: {class: 'abc mr-2'} %>

  <div id="faqs">
    <%= form.simple_fields_for :faqs do   |faq| %>
      <%= render 'faq_fields', f: faq %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add', form, :faqs  %>
    </div>
    
  </div>


<%= form.submit "Submit", class:"btn btn-secondary btn-sm btn-block" %>

<% end %>
