<div class="container">
  <div class="card mt-2 border border-dark">
    <div class="card-header font-weight-bold">
      <h5 class="card-title"><%= @product.title%></h5>
<%# product tag ----------------------------------------------------------%>
      <small>
        <strong>Tags:</strong>
        <% @product.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag) %>
        <% end %>
      </small>
<%# -----------------------------------------------------------------%>
      <h6 class="card-subtitle mb-2 text-muted"><small>
        updated: <%= time_ago_in_words(@product.updated_at) %> ago
      </small></h6>
    </div>
    <div class="card-body">
      <p>By
        <% if @product.user %>
          <%= link_to @product.user.full_name, user_path(@product.user) %>
        <% else %>
          <%= '[deleted]' %>
        <% end %>
      </p>

      <p class="card-text"><%= @product.description %></p>
<%#---------------------------------------------------------------IMAGE--------%>
      <% if @product.image.present? %>
        <%= image_tag @product.image.url(:thumb) %>
        <%= image_tag @product.image.url(:medium) %>
        <%= image_tag @product.image.url(:large) %>
      <% end %>
<%#------------------------------------------------------------------------------%>
      <p class="card-text text-secondary ">
        $ <%= @product.price %>
        <% if @product.on_sale? %>
            <i class="fa fa-tag text-danger ml-3"></i><span class="text-danger"> $<%= @product.sale_price %></span>
        <% end %>
      </p>

      <% if can?(:crud, @product) %>

          <%= link_to(
               'Edit',
               edit_product_path(@product),
               class: "btn btn-outline-secondary btn-sm"
               )
           %>
          <%= link_to(
               'Delete',
               product_path(@product),
               class: "btn btn-outline-secondary btn-sm",
               method: :delete,
               data: {confirm: 'Are you sure what you are doing now ???'}
             )
          %>
      <% end %>

      <% if can?(:like, @product) %>
        <% if @user_like %>
          <%= link_to fa_icon("thumbs-up"), like_path(@user_like), method: :delete %>
        <% else %>
          <%= link_to fa_icon("thumbs-o-up"), product_likes_path(@product), method: :post %>
        <% end %>
      <% end %>
      (<%= pluralize(@product.likes.count, 'like') %>)



<%# FAVOURITE ---------------------------------------------------------------%>
      <% if can?(:favourite, @product) %>
        <% if @user_favourite %>
          <%= link_to fa_icon("heart"), favourite_path(@user_favourite), method: :delete, class: "text-danger" %>
        <% else %>
          <%= link_to fa_icon("heart-o"), product_favourites_path(@product), method: :post, class: "text-danger" %>
        <% end %>
      <% end %>
      (<%= pluralize(@product.favourites.count, 'favourite') %>)

<%# VOTE ---------------------------------------------------------------%>
        <p class="text-right">
        <%= product_vote(@user_vote, @product).html_safe if user_signed_in? %>
        </p>
    </div>
  </div>
<%# --------------------------------------------------------------------%>


  <!-- <h2><%= @product.title %> </h2>
  <p><%= @product.description %> </p>
  <p>By <%= @product.user&.full_name || "[deleted]" %></p>

  <p>price: $ <%= @product.price %> </p>
  <hr>
  <% if can?(:manage, @product) %>

      <%= link_to 'Edit', edit_product_path(@product) %>

      <%= link_to(
           'Delete',
           product_path(@product),
           method: :delete,
           data: {confirm: 'Are you sure what you are doing now ???'}
         )
      %>
  <% end %> -->

  <br />

  <%# new review form  ----------------------------------------------------- %>

  <%= form_for [@product, @review] do |f| %>
    <div class="form-group p-3 rounded" style="background-color: #b0aac2;">
      <h5>Write a review:</h5>
      <% if @review.errors.present? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= @review.errors.full_messages.join(', ') %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <div class="form-group row p-2">
        <%= f.label :rating, class: "text-right col-sm-2" %>
        <%= f.number_field :rating, in: 1..5, class: "col-sm-10 form-control" %>
      </div>
      <div class="form-group row p-2">
        <%= f.label :comments, class: "text-right col-sm-2" %>
        <%= f.text_area :body, class: "col-sm-10 form-control" %>


      </div>
      <%= f.submit "Submit Review", class: "btn btn-outline-light btn-sm mt-2" %>
    </div>
  <% end %>


  <%# reviews ------------------------------------------------------------- %>
   <% @reviews.each do |review| %>
    <div class="card my-2 border border-dark">

       <% if !review.is_hidden? %>
         <div class="card-body">
       <% else %>
          <div class="card-body" style="color:lightgrey;">
       <% end %>
           <p><strong>Rating:</strong> <%= review.rating %></p>
           <p><strong>Reviews:</strong> <%= review.body %></p>
           <p class="text-right">
             <i class="fa fa-user-o"></i><em>  <%= review.user.full_name %></em></p>
           <p class="text-right"><small>Created At: <%= time_ago_in_words(review.created_at) %> ago</small></p>

           <p>
           <% if can?(:destroy, review)%>
             <%= link_to(
               'Delete',
               product_review_path(@product, review),
               data: {confirm: 'Are you sure?'},
               class: "btn btn-outline-danger btn-sm",
               method: :delete
             ) %>
           <% end %>

           <% if can?(:crud, @product)%>
             <%= form_for [@product, review] do |form| %>

               <%= form.check_box :is_hidden, style: "width: 20px; height: 20px;" %>
               <%= form.submit "Hide/Unhide" , class: "btn btn-outline-primary btn-sm"%>
             <% end  %>
           <% end %>

<%# love a review -----------------------------------------------------------%>
           <% if can?(:love, review) %>
              <% if review.loves.find_by_user_id(current_user) %>
                <%= link_to fa_icon("star"), love_path(review.loves.find_by_user_id(current_user)), method: :delete, class:"text-warning" %>

              <% else %>
                <%= link_to fa_icon("star-o"), product_review_loves_path(@product, review), method: :post, class:"text-warning"  %>
              <% end %>
            <% end %>

<%# --VOTE a review ----------------------------------------------------------%>
<% if can?(:review_vote, review) && user_signed_in? %>
    <% user_review_vote = current_user.review_votes.find_by_review_id(review) %>
    <%= review_vote(user_review_vote, review).html_safe if user_signed_in? %>
  <%else %>
    <span class="badge badge-primary">
        Your votes: <%= review.review_votes_result %>
    </span>
<% end %>


         </p>
         </div>
    </div>
   <% end %>

</div>
