<div class="container">
  <div class="card mt-2">
    <div class="card-header font-weight-bold">
      <%= @product.title %>
    </div>
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted text-right">By:
        <%= @product.user&.full_name || "[deleted]" %>
      </h6>
      <p class="card-text"><%= @product.description %></p>
      <p class="card-text text-secondary ">Price: $ <%= @product.price %></p>

      <% if can?(:manage, @product) %>

          <%= link_to(
               'Edit',
               edit_product_path(@product),
               class: "btn btn-outline-secondary btn-sm"
               )
           %>
          <%= link_to(
               'Delete',
               product_path(@product),
               class: "btn btn-outline-secondary btn-sm",
               method: :delete,
               data: {confirm: 'Are you sure what you are doing now ???'}
             )
          %>
      <% end %>
    </div>
  </div>

  <!-- <h2><%= @product.title %> </h2>
  <p><%= @product.description %> </p>
  <p>By <%= @product.user&.full_name || "[deleted]" %></p>

  <p>price: $ <%= @product.price %> </p>
  <hr>
  <% if can?(:manage, @product) %>

      <%= link_to 'Edit', edit_product_path(@product) %>

      <%= link_to(
           'Delete',
           product_path(@product),
           method: :delete,
           data: {confirm: 'Are you sure what you are doing now ???'}
         )
      %>
  <% end %> -->

  <br />

  <%# new review form  ----------------------------------------------------- %>

  <%= form_for [@product, @review] do |f| %>
    <div class="form-group" >
      <h5>Write a review:</h5>
      <% if @review.errors.present? %>
        <p>
          <%= @review.errors.full_messages.join(', ') %>
        </p>
      <% end %>

      <div class="form-group row p-2">
        <%= f.label :rating, class: "text-right col-sm-2" %>
        <%= f.number_field :rating, class: "col-sm-10 form-control" %>
      </div>
      <div class="form-group row p-2">
        <%= f.label :comments, class: "text-right col-sm-2" %>
        <%= f.text_area :body, class: "col-sm-10 form-control" %>


      </div>
      <%= f.submit "Submit Review", class: "btn btn-outline-secondary btn-sm mt-2" %>
    </div>
  <% end %>


  <%# reviews ------------------------------------------------------------- %>
   <% @reviews.each do |review| %>
    <div class="card mt-2">

       <% if !review.is_hidden? %>
         <div class="card-body">
       <% else %>
          <div class="card-body" style="color:lightgrey;">
       <% end %>
           <p><strong>Rating:</strong> <%= review.rating %></p>
           <p><strong>Reviews:</strong> <%= review.body %></p>
           <p class="text-right">
             <i class="fa fa-user-o"></i><em>  <%= review.user.full_name %></em></p>
           <p class="text-right"><small>Created At: <%= time_ago_in_words(review.created_at) %> ago</small></p>

           <% if can?(:destroy, review)%>
             <%= link_to(
               'Delete',
               product_review_path(@product, review),
               data: {confirm: 'Are you sure?'},
               method: :delete
             ) %>
           <% end %>

           <% if can?(:manage, @product)%>
             <%= form_for [@product, review] do |form| %>
               <%= form.check_box :is_hidden %>
               <%= form.submit "Hide/Unhide" %>
             <% end  %>
           <% end %>

         </div>
    </div>
   <% end %>

</div>
